.journal {
  &__main-content {
    display: flex;
  }

  &__sidebar {
    flex: 0 0 450px;    
    background-color: $gray-dark;
    color: $light;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    
    &-navbar {
      display: flex;
      justify-content: space-between;

      p {
        font-weight: lighter;
      }

      .btn {
        background-color: transparent;
        transition: color .3s ease-in-out;

        &:hover {
          color: $gray-light;
        }
      }
    }
  }

  &__new-entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
    transition: color .3s ease-in-out;

    &:hover {
      color: #666;
    }
  }

  &__entries {
    margin: 30px 15px 20px 15px;
    flex: 1 1 auto;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__entry {
    background-color: $light;
    border-radius: 4px;
    color: $gray-dark;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &-picture {
      background-color: $orange;
      width: 200px;
      margin-bottom: 0;
      border-radius: 4px 0 0 4px;
    }

    &-body {
      flex: 0 1 auto;
      padding: 10px;
    }

    &-title {
      font-size: 1rem;
      margin-bottom: 8px;
      color: $primary;
    }

    &-content {
      font-size: .90rem;
      line-height: 1rem;
    }

    &-date-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      padding: 5px;

      span {
        font-size: 12px;
        margin-right: 5px;
        color: $gray-dark;
      }

      h4 {
        font-size: 1.2rem;
        color: $primary;
      }
    }
  }
}
