$blue: hsl(216, 98, 52);
$indigo: hsl(263, 90, 51);
$purple: hsl(260, 65%, 50%);
$pink: hsl(330, 67, 52);
$red: hsl(354, 70, 54);
$orange: hsl(27, 98, 54);
$yellow: hsl(45, 100, 51);
$green: hsl(150, 90, 50);
$teal: hsl(162, 73, 46);
$cyan: hsl(190, 90, 50);
$white: hsl(0, 0, 100);
$gray: hsl(208, 7, 46);
$gray-dark: hsl(0, 0, 21);
$success: hsl(155, 80, 38);
$warning: hsl(45, 100, 50);
$danger: hsl(354, 70, 54);
$light: hsl(210, 90, 95);
$black: #222222;

// Coolors
$primary: hsl(224, 38%, 55%);
$secondary: hsl(220, 80%, 70%);
$gray-light: hsl(45, 23, 65);
$dark: hsl(100, 18%, 13%);
$info: hsl(200, 80%, 45%);

// Google Colors
$google-blue: #4285f4;
$button-active-blue: #1669f2;

// Text Colors
.blue   { color: $blue; }
.indigo { color: $indigo; }
.purple { color: $purple; }
.pink   { color: $pink; }
.red    { color: $red; }
.orange { color: $orange; }
.yellow { color: $yellow; }
.green  { color: $green; }
.teal   { color: $teal; }
.cyan   { color: $cyan; }
.white  { color: $white; }
.gray   { color: $gray; }
.primary   { color: $primary; }
.secondary { color: $secondary; }
.success   { color: $success; }
.info      { color: $info; }
.warning   { color: $warning; }
.danger    { color: $danger; }
.light     { color: $light; }
.dark      { color: $dark; }
.black     { color: $black; }
.gray-dark { color: $gray-dark; }

// Backgrounds
.bg-blue   { background-color: $blue; }
.bg-indigo { background-color: $indigo; }
.bg-purple { background-color: $purple; }
.bg-pink   { background-color: $pink; }
.bg-red    { background-color: $red; }
.bg-orange { background-color: $orange; }
.bg-yellow { background-color: $yellow; }
.bg-green  { background-color: $green; }
.bg-teal   { background-color: $teal; }
.bg-cyan   { background-color: $cyan; }
.bg-white  { background-color: $white; }
.bg-gray   { background-color: $gray; }
.bg-primary   { background-color: $primary; }
.bg-secondary { background-color: $secondary; }
.bg-success   { background-color: $success; }
.bg-info      { background-color: $info; }
.bg-warning   { background-color: $warning; }
.bg-danger    { background-color: $danger; }
.bg-light     { background-color: $light; }
.bg-dark      { background-color: $dark; }
.bg-black     { background-color: $black; }
.bg-gray  {
  background-color: $gray;
  &--dark { background-color: $gray-dark; }
  &--light { background-color: $gray-light; }
}