$blue: hsl(216, 98%, 52%);
$indigo: hsl(263, 90%, 51%);
$purple: hsl(260, 80%, 60%);
$pink: hsl(330, 67%, 52%);
$red: hsl(354, 70%, 54%);
$orange: hsl(27, 98%, 54%);
$yellow: hsl(45, 100%, 51%);
$green: hsl(152, 80%, 40%);
$teal: hsl(162, 73%, 46%);
$cyan: hsl(190, 90%, 50%);
$white: hsl(0, 0%, 100%);
$gray: hsl(208, 7%, 46%);
$gray-dark: hsl(210, 10%, 23%);
$primary: hsl(216, 98%, 52%);
$secondary: hsl(208, 7%, 46%);
$success: hsl(152, 69%, 31%);
$info: hsl(190, 90%, 50%);
$warning: hsl(45, 100%, 51%);
$danger: hsl(354, 70%, 54%);
$light: hsl(210, 90%, 95%);
$dark: hsl(210, 10%, 10%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);